<% chats.forEach(chat => {
    let id = chat.chat ? chat.chat._id : chat.type ? chat._id : -1;
    let type = chat.chat?.type || chat.type;
    let userId = chat.user2?._id || chat._id;
    let title = chat.chat ? chat.login : chat.name || chat.user2?.login || chat.login;
    let avatarId = chat.type === 'group' ? chat._id : userId;
%>
    <button class="chat" data-id="<%= id %>" data-type="<%= type %>" data-userid="<%= chat.type !== 'group' ? userId : '' %>" data-title="<%= title %>">
        <img src="api/avatar/<%= avatarId %>" class="avatar">
        <div class="metadata">
            <div class="top">
                <h3 class="title"><%= title %></h3>
                <span class="date" data-date="<%= chat.lastMessage?.createdAt %>"></span>
            </div>
            <span class="last-message"><%= chat.lastMessage ? (chat.lastMessage.fileUrl ? "file" : chat.lastMessage.content) : '' %></span>
        </div>
    </button>
<% }); %>